[Unit]
Description=Web Proxy Service
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 07/01/2024

After=netcheck.service
Requires=netcheck.service

[Service]
Type=simple
Restart=always
RestartSec=3
StandardOutput=null
WorkingDirectory=/opt/Web_Proxy
ExecStartPre = /usr/bin/sh -c 'echo "Starting Web Proxy: [`date +%%T.%%3N`]" >> /var/log/netcheck'
ExecStart=/usr/bin/node /opt/Web_Proxy/proxy.js 8080 2222
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target

